@import '../abstracts/variables';
@import '../abstracts/mixims';

.bg-cardsm {
    position: relative; // relative to locate, absolute default
    height: 85px;
    width: 391px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
    border-radius: 12px;
    background: #FFFFFF;
    overflow: hidden;
    margin: 5px 0px;

    .cmdtexth3 :hover{
        text-decoration: underline;
    }
}

.rectangle-sm {
    height: 85px;
    width: 121px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    position: absolute;

    background: --bg-card;
}

.text-cardsm {
    position: absolute;
    width: 81px;
    height: 19px;
    left: 145px;
    top: calc(50% - 19px/2);
    border-radius: nullpx;

    @include text-format-cardsm;
}


