@import '../abstracts/variables';
@import '../abstracts/mixims';

.bg-cardmd {
  position: relative; // relative to locate, absolute default
  height: 371px;
  width: 188px;
  left: 0px; //modify to position
  top: 0px; //modify to position
  bottom: 0px;
  border-radius: 4px;
  background: #ffffff;
  overflow: hidden;
  margin-bottom: 5px;
}

.rectangle-md {
  height: 240px;
  border: 1px solid lightgray;

  left: 0px;
  top: 0px;
  bottom: 0px;
  position: absolute;

  border-radius: 10px;
  background: whitesmoke;

  img {
    height: 240px;
    margin: auto;
  }
}

.country {
  position: absolute;
  height: 12px;
  width: 100px;
  left: 0px;
  top: 248px;

  @include text-format-cardmd-country;
}

.cmdtexth3 {
  position: absolute;
  height: 38px;
  left: 0px;
  right: 0px;
  top: 264px;

  @include text-format-cardmd-h3;
}

.cmdtextp {
  position: absolute;
  height: 42px;
  left: 0px;
  right: 0px;
  top: 310px;

  @include text-format-cardmd-p;
}

.score {
  position: absolute;
  width: 30px;
  height: 14px;
  left: 0px;
  bottom: 0px;
  top: 360px;

  @include text-format-cardmd-score;
}
