.fPassword{
    margin: 60px auto ;
    width: 600px;
    display: flex;
    border: 1px solid lightgray;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    font-size: 12px;
    font-family: var(--font-family);
    


    .fPassword__header{
        display: flex;
        width: 100%;
        align-items: baseline;   
        border-bottom: 1px solid lightgray; ;
        padding: 15px 15px;

        .fPassword__header__icon{
            display: flex;
            align-items: center;
        }
        .fPassword__header__text{
        
            margin: auto;
            
        }

    }
    .fPassword__form{
        display: flex;
        flex-direction:column;
        margin: 20px 20px;
        padding: 10px;
        
        .inputs{
            margin: 15px;
        }

        .send{
            padding: 10px;
            background-color: var(--red);
            border: none;
            cursor: pointer;
            color: white;
            font-weight: 700;
            font-size: 15px;
            margin-top: 50px;
            width: 100%;
            border-radius: 5px;
        }
        
    }
}
