.searchContainerForm{
    height: auto;
    z-index: 100000;
    margin-left: 80px;
    width: 300px;
    background-color: #FFFFFF ;
    padding: 24px;

    @media only screen and (max-width: 900px){
        
        margin-left:80px;
        align-items: center;
    }

    @media only screen and (max-width: 768px){
        .searchContainerForm__title{
            font-size: 20px;
            width: 200px;
        }
    }
    @media only screen and (max-width: 440px){
        margin-left:20px;
    }
    @media only screen and (max-width: 330px){
        margin-left:10px;
    }
}

.searchContainerForm__title{
    size: 32px;
    margin-bottom: 15px;
    color: #484848;
}
.search_place{
    margin: 10px 0;
}

.searchContainerForm__form__schedule{
    display: flex;
    margin-bottom: 10px;

    label{
        display: flex;
        flex-direction: column;
        color: black;
        
    }
    input{
        height: 40px;
        border: 1px solid #E3E3E3;
        border-radius: 2px;
        padding-left: 10px;
        width:100%;
    }
}


.searchContainerForm__button{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    button{
        width: 50%;
        background-color: var(--red);
        color: white;
        height: 40px;
        border: none;
        border-radius: 5px;
    }
    
}
