.containerHeader{
    background: url('../../images/HERO\ BG.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 750px;
    display: flex;
    align-items: center;
    background-size: cover;
}

.form{
padding-left: 80px;
height: 508px;
        background: url('../../images/HERO\ BG.png');
        background-repeat: no-repeat;
        width: 100%;
        height: 750px;
        display: flex;
        align-items: center;
        background-size: cover;
}

.form{
    padding-left: 80px;
    height: 508px;
}
