.container-home{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
}
.header{
        background: url('../../images/HERO\ BG.png');
        background-repeat: no-repeat;
        width: 100%;
        height: 750px;
        display: flex;
        align-items: center;
        background-size: cover;
        
        @media only screen and (min-width: 300px) and (max-width: 900px){
            width: 100%;
            display: flex;
            justify-content: left;
    }
}

.main{
    width: 100%;
    position: relative;
    padding: 80px;
    background-color: #fff;
    z-index: 1;
            
    @media only screen and (min-width: 300px) and (max-width: 900px){
        width: 100%;

}

}
.explorar-airbnb{
    @include cards-display-margin ();
    @media only screen and (max-width: 599px){
        justify-content: center;
    }
}

.alojamientos-plus{
    @include cards-display-margin ();

}
.experiencias-calificadas{
    @include cards-display-margin ();

}

