.dashboard-container{

.hero{
    width: 100%;
    padding:64px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(78,52,156);
    background: linear-gradient(90deg, rgba(78,52,156,1) 20%, rgba(255,0,108,1) 100%);
    h2{
        @include assign-fontstye (32px, var(--white), 700);
    }
    p{
        @include assign-fontstye (16px, var(--white), 300);
    }
    button{
        padding: 10px;
        border: none;
        background-color: var(--white);
        border-radius: 10px;
        cursor: pointer;
    }
}
.container-bookings{
    padding:64px 80px;

    h2{
        @include assign-fontstye (32px, var(--textoreserva), 500);
        margin-bottom: 10px;
    }
}
}
.container-steps{
    width: 100%;
    background-color: #F7F7F7;
    padding:64px 80px;

    h2{
        @include assign-fontstye (32px, var(--textoreserva), 400);
        margin-bottom: 10px;
    }
}

