.image-frame {
    width:200px;
    height:200px;
    border-radius:150px;
}
.image-button{
    display: flex;
    justify-content: center;
}

.image-center {
    display:flex;
    justify-content: center;
}
