.module5xx {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    max-height: 560px;
    max-width: 1280px;
    margin: auto;
}

.module5_x {

    width: 50%;
    display: flex;
    flex-wrap: wrap;
    max-height: 560px;
}
