.module3hv{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    max-height: 560px;
    max-width: 1280px;
}

.module3h_ {

    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    max-height: 560px;
}
