.module5xx {
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    max-height: 350px;
    max-width: 1280px;
}

.module5_x {

    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    max-height: 350px;
}
