.module3hv{
<<<<<<< HEAD
=======
    width: 100%;
>>>>>>> 2422d41b137ca47cebcc1df4601361de39a1c643
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    max-height: 500px;
    max-width: 742px;
}

.module3h_ {

    width: 50%;
    display: flex;
    flex-wrap: wrap;
    max-height: 500px;
}
