.module3hv{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    max-height: 500px;
    max-width: 742px;
}

.module3h_ {

    width: 50%;
    display: flex;
    flex-wrap: wrap;
    max-height: 500px;
}
