.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 24px;
    img{
        width: 28.65px;
        height: 30.78px;
    }
    .nav-menu{
        display: flex;
    }
    .nav-item{
        padding: 1rem;
        font-size: 14px;
        font-weight: 500;
    }
    .nav-item a:hover{
        background-color: rgba(255, 255, 255, 0.322);
        border-radius: 10rem;
        padding: 10px;
    }
}
.navbar-home{
    .nav-item a{
        color: var(--white);
    }

}
.navbar-default{
    border-bottom: 1px solid rgb(201, 201, 201);
    box-shadow: 0 2px 2px -2px gray;
    .nav-item a{
        color: var(--darkgrey);
    }
    .nav-item a:hover{
        background-color: #ff5a6038;
        border-radius: 10rem;
        padding: 10px;
    }
    .logo .nav--logo{
        color: black;
    }
}
