.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    

    img{
        width: 28.65px;
        height: 30.78px;
    }
    
    .nav-menu{
        display: flex;
    }
    
    .nav-item{
        padding: 1rem;
        font-size: 14px;
        font-weight: 500;
    }
    .nav-item a{
        color: var(--white);
    }
    .nav-item a:hover{
        background-color: rgba(255, 255, 255, 0.322);
        border-radius: 10rem;
        padding: 10px;
    }
}

