.profile {
    width: 100%;
    padding:50px 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item-flex {
    width: 50%;
}
.item-flex2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.description {
    margin-top: 20px;
    font-size: 14px;
}
