.custom-input-file {
  padding: 10px;
  text-align: center;
  width: 100%;
  margin: 10px;
  display: flex;
  }
  .custom-input-file :hover {
    background-color: #f5a6c74b;

  }
  .custom-input-file-label{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    color: #e6498b;
    border: 1px solid #e6498b;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    width: 100%;
  }
  
  .custom-input-file input[type="file"] {
    display: none;
  }

  
.buttonimage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img{
    width: 220px;
    border-radius: 100%;
  }
}

.save-image{
    width: 100px;
    background-color: #fff0f6;
    color: #e6498b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}
.buttons{
  width:250px ;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
