@mixin text-format-titles() {
    color: var(--darkgrey);
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

@mixin text-format-paragraph (){
    color: var(--darkgrey);
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

@mixin text-format-cardsm () {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #484848;
}
