@mixin text-format-titles() {
    color: var(--darkgrey);
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

@mixin text-format-paragraph (){
    color: var(--darkgrey);
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

@mixin module-wraper ($px, $pt, $pb){
    margin:0px;
    padding-left: $px;
    padding-right: $px;
    padding-top: $pt;
    padding-bottom: $pb;
}

@mixin assign-margin ($mr, $ml){
    margin-left: $ml;
    margin-right: $mr;
}

@mixin assign-padding ($pr, $pl){
    padding-left: $pl;
    padding-right: $pr;
}
